.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

/* Modal Content/Box */
.modal-content {
    border-radius: 15px;
    background-color: #f0f0f0;
    /* margin: 15% auto; */
    /* 15% from the top and centered */
    padding: 20px;
   /* justify-content: center; */
    border: 1px solid #888;
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 13px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-values {
    width: 70%;
    flex: 1;
}

.modal-info {
    width: 18%;
    display: flex;
    flex-direction: column;
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-modal{
    font-size: 40px;
    margin-left: 7px;
}
.modal-description{
    /* margin-top: 30px; */
    width: 300px;
    height: 150px;
    padding-left: 0.5em;
    /* display: flex; */
}

.modal-info button{
    margin-top: 3px;
    margin-right: 12px;
    border-radius: 4px;
    border:1.7px solid black;
}

.modal-info button:hover {
    background-color: rgb(126, 125, 125) ;
}