* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  transition: background-color 130ms linear;
}
:root {
  --dark-theme-color-1: #2a2d2e; /* BACKGROUND HEADER */
  --dark-theme-color-2: #1f2223; /* HOVER*/
  --dark-theme-color-3: #282b2b; /* BACKGROUND DROPDOWN */

  --light-theme-color-1: #f6f8fa; /* BACKGROUND HEADER */
  --light-theme-color-2: #f4f6f8; /* BACKGROUND DROPDOWN */
  --light-theme-color-3: #edeff3; /* HOVER*/
  --light-theme-color-4: #d8dee4; /* BORDER*/
  --light-theme-color-5: #313338; /* FONT COLOR*/
}
body{
  height: 100vh;
}
/* CORES  DARK*/
.dark nav {
  background-color: var(--dark-theme-color-1);
}
.dark nav strong {
  color: azure;
}

.dark .dropbtn i {
  color: azure;
}
.dark .dropbtn:hover {
  background-color: var(--dark-theme-color-2);
}

.dark .menuDrop {
  background-color: var(--dark-theme-color-3);
  color: azure;
}
.dark .optionsDrop ul li:hover,
.dark .selectThemeOption ul li:hover {
  background-color: var(--dark-theme-color-2);
}

/* CORES  WHITE*/
nav {
  background-color: var(--light-theme-color-1);
}
nav strong {
  color: var(--light-theme-color-5);
}
.dropbtn i {
  color: var(--light-theme-color-5);
}
.dropbtn:hover {
  background-color: var(--light-theme-color-3);
}

.menuDrop {
  background-color: var(--light-theme-color-2);
  color: var(--light-theme-color-5);
}
.optionsDrop ul li:hover,
.selectThemeOption ul li:hover {
  background-color: var(--light-theme-color-3);
}

/*  HEADER  */
nav {
  height: 3.6em;
  width: 100%;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  display: flex;
}

.header {
  width: 100%;
  padding: 0 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav strong {
  font-size: 24px;
  letter-spacing: -0.05em;
}
/* MENU DROPDOWN */
.dropbtn {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  border-style: none;
  background-color: transparent;
}
.dropbtn i {
  font-size: 20px;
}
.dropbtn:hover {
  cursor: pointer;
}
.menuDrop {
  border-radius: 5px;
  height: 8.76em;
  width: 15em;
  right: 7em;
  position: absolute;
  box-sizing: border-box;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.12) 2.4px 2.4px 3.2px;
}
.optionsDrop ul,
.selectThemeOption ul {
  list-style: none;
  width: 100%;

}

.optionsDrop ul li,
.selectThemeOption ul li {
  border-radius: 5px;
  width: 100%;
  padding: 1.5em 1.1em 1.5em 1.1em;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.optionsDrop ul li a,
.selectThemeOption ul li a {
  padding-left: 1em;
  font-size: 18px;
  flex: 2;
}

.optionsDrop ul li i,
.selectThemeOption ul li i {
  padding-top: 3px;
  font-size: 17px;
}
.backgroundColorOption {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.colorInput {
  border-radius: 15px;
  background-color: transparent;
  border: 2px;
  width: 6em;
  height: 6em;
}
.colorInput:hover {
  cursor: pointer;
}

/*  BODY  */

.content{
  height: 100%;
  width: 100%;
}