* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}
:root {
  --dark-theme-color-1: #27292a; /* BACKGROUND HEADER */
  --dark-theme-color-2: #1f2223; /* HOVER*/
  --dark-theme-color-3: #232525; /* BACKGROUND DROPDOWN */

  --light-theme-color-1: #f6f8fa; /* BACKGROUND HEADER */
  --light-theme-color-2: #f4f6f8; /* BACKGROUND DROPDOWN */
  --light-theme-color-3: #edeff3; /* HOVER*/
  --light-theme-color-4: #d8dee4; /* BORDER*/
  --light-theme-color-5: #313338; /* FONT COLOR*/
}
/* CORES  DARK*/
.dark nav {
  background-color: var(--dark-theme-color-1);
  border-color: var(--dark-theme-color-2);
}
.dark nav strong {
  color: azure;
}
.dark .body {
  background-color: var(--dark-theme-color-1);
}
.dark .dropbtn i {
  color: azure;
}
.dark .dropbtn:hover {
  background-color: var(--dark-theme-color-2);
}

.dark .menuDrop {
  background-color: var(--dark-theme-color-3);
  color: azure;
}
.dark .optionsDrop ul li:hover,
.dark .selectThemeOption ul li:hover {
  background-color: var(--dark-theme-color-2);
}

/* CORES  WHITE*/
nav {
  background-color: var(--light-theme-color-1);
  border-color: var(--light-theme-color-4);
}
nav strong {
  color: var(--light-theme-color-5);
}
.body {
  background-color: #ffff;
}
.dropbtn i {
  color: var(--light-theme-color-5);
}
.dropbtn:hover {
  background-color: var(--light-theme-color-3);
}

.menuDrop {
  background-color: var(--light-theme-color-2);
  color: var(--light-theme-color-5);
}
.optionsDrop ul li:hover,
.selectThemeOption ul li:hover {
  background-color: var(--light-theme-color-3);
}

nav {
  height: 3.6em;
  width: 100%;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom-style: solid;
}

.header {
  width: 100%;
  padding: 0 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav strong {
  font-size: 24px;
}
/* MENU CSS  */
.dropbtn {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  border-style: none;
  background-color: transparent;

  font-weight: 700;
}
.dropbtn i {
  font-size: 20px;
}
.dropbtn:hover {
  cursor: pointer;
}

.menuDrop {
  border-radius: 5px;
  height: 8.9em;
  width: 15em;
  right: 7em;
  position: absolute;
  box-sizing: border-box;
  display: none;
}

.optionsDrop ul,
.selectThemeOption ul {
  list-style: none;
  width: 100%;
}

.optionsDrop ul li,
.selectThemeOption ul li {
  width: 100%;
  padding: 1.5em 1.1em 1.5em 1.1em;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.optionsDrop ul li a,
.selectThemeOption ul li a {
  padding-left: 1em;
  font-size: 18px;
}

.optionsDrop ul li i,
.selectThemeOption ul li i {
  padding-top: 3px;
  font-size: 17px;
}
.backgroundColorOption {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.colorInput {
  border-radius: 15px;
  background-color: transparent;
  border: 2px;
  width: 6em;
  height: 6em;
}
.colorInput:hover {
  cursor: pointer;
}
