* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

nav {
    height: 60px;
    width: 100%;
    background-color: rgb(51, 50, 50);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}

nav strong {
    color: azure;
    font-size: 20px;
}

.dropbtn {
    border-style: none;
    height: 35px;
    width: 3rem;
    background-color: #195fc2;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}

.dropbtn:hover {
    background-color: rgb(26, 26, 182);
}

.menuDrop{
    position:absolute;
    box-sizing: border-box;
    background-color: #195fc2;
    border-radius: 5px;
    height: 8,9em;
    width: 15em;
    right: 3em;
  
}

.optionsDrop ul{
    list-style: none; 
    width: 100%;
}
.optionsDrop ul li{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    cursor: pointer;
    text-decoration: none!important;
    padding: 1.5em 1.1em 1.5em 1.1em ;
}
.optionsDrop ul li a{
    padding-left: 1em;
    font-size: 18px;
}
.optionsDrop ul li i{
    padding-top: 3px;
    font-size: 17px;
}
.optionsDrop ul li:hover{
    background-color: rgb(26, 26, 182);
    border-radius: 5px;
    margin-inline: 1px;
}
.backgroundColorOption{
    width: 100%;
    height: 100%;
    display:none;
    justify-content: center;
    align-items: center;
}
.colorSelect {
    border-radius: 2px;
    border-width: 3px;
    width: 6em;
    height: 6em;

}